body {
    background-color: #f5f5dc;
    font-family: Arial, sans-serif;
    max-width: 900px; /* МАКСИМАЛЬНАЯ ШИРИНА */
    margin: 0 auto; /* ВЫРАВНИВАНИЕ */
}

h1, h2 {
    color: #333333;
    text-align: center;
}

p {
    color: #333333;
    font-size: 16px;
    font-family: Cursive;
    text-indent: 40px; /* Отступ первой строки */
}

.img_class {
    text-align: center;
    padding: 20px; /* Внутренние отступы */
}